<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理首页</title>  
    <link rel="stylesheet" href="/css/pintuer.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body style="background-color:#f2f9fd;">
	<div class="header bg-main">
	  <div class="logo margin-big-left fadein-top">
		<h1>
			<img src="/img/head_img.jpg" class="radius-circle rotate-hover" height="50" alt="" />
			<span>欢迎您，001号管理员！</span>
			<b>萌芽小镇后台管理中心</b>
		</h1>
	  </div>
	  <div class="head-l">
		<a class="button button-little bg-red" href="/"><span class="icon-power-off"></span> 退出登录</a> 
	  </div>
	</div>
	<div class="leftnav">
	  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
	  <h2><span>▶</span>营业分析</h2>
	  <ul>
			<li><a href="seven_days.html" target="right">近7天交易</a></li>
			<li><a href="hostest_goods.html" target="right">最热商品</a></li>
	  </ul>
	  <h2><span>▼</span>商品管理</h2>
	  <ul style="display: block;">
			<li><a href="add_goods.html" target="right">增加商品</a></li>
			<li><a href="query_goods.html" target="right">查询商品</a></li>
	  </ul>   
	  <h2><span>▶</span>用户管理</h2>
	  <ul>
			<li><a href="query_user.html" target="right">查询用户</a></li>
	  </ul>  
	   <h2><span>▶</span>用户反馈</h2>
	  <ul>
			<li><a href="all_feedback.html" target="right">所有反馈(0)</a></li>
			<li><a href="not_read_feedback.html" target="right">未读(0)</a></li>
	  </ul> 
	</div>
	<ul class="bread">
	  <li>首页</li>
	  <li>营业分析</li>
	  <li>近7天交易</li>
	</ul>
	<div class="admin">
	  <iframe scrolling="auto" rameborder="0" src="add_goods.html" name="right" width="100%" height="100%"></iframe>
	</div>
	<script src="/js/index.js"></script>
</body>
</html>